*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  
.jaune{
     background-color: #EEDF67 !important;
}
.dis{
    background-color: #EEDD5F;
}
.dis:hover{
   background-color: #bdae3f !important;
}
.dis:active{
    color: #fff !important;
}

    body{
         background-color: #f9f8f6;
    }
    footer{
        background-color: #FFFFFF;
    }
    .niger{
        height: 40px;
    }
    .img-fluid {
        height: 450px !important;
    }

.imagr{
    height: 300px !important;
}

.img-zoom {
    transition: transform 0.2s ease;
}
.img-zoom:hover {
    transform: scale(1.1);
}
.main-img {
    transition: transform 0.3s ease-in-out;
}

.img-wrapper:hover .main-img {
    transform: scale(1.1)
}
.card-overlay {
    pointer-events: none;
}

.card-content {
    background: rgba(255, 255, 255, 0.85);
    transform: translateY(30px);
    opacity: 0;
    transition: all .35s ease-in-out;
}

.img-wrapper:hover + .card-overlay .card-content {
    transform: translateY(0px);
    opacity: 1;
}

.badge-date {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background: #EEDF66;
    color: #000;
    bottom: -30px;          
    left: 30px;          
}
img{
    height: 50px;
}
.btn-menu{
    display: none;
}

.logo-head{
    display: none !important;
}
.border-1{
        border: 1px solid black !important;
}
.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important; /* ou ta couleur */
}
a{
    text-decoration: none;
    color: #0b1220;
}
.sidebar {
    position: fixed;
    top: 0;
    left: -350px;
    width: 350px;
    height: 100vh;
    background: #fff;
    padding-top: 20px;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    transition: left 0.3s ease;
}
#sidebarToggle:checked ~ .sidebar {
    left: 0;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 25px;
}
.sidebar-menu li {
    padding: 10px 20px;
}
.sidebar-menu li a {
    color: #333;
    font-size: 18px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}
.sidebar-menu li a:hover {
    color: green;
    margin-left: 5px;
}
.confi{
    padding-top: 200px;
}
.pousse{
    width: 65px;
    height: 90px;
    background-color: #1D3D14;
}
.pousse i{
    font-size: 50px;
    color: white !important;
}
.sultan{
    height: 300px !important;
    background-color: #EEDD5F;
}
.avatar{
    width: 300px !important;
    height: 300px !important;
    border-radius: 100% !important;
}
.w-mardi{
    width: 80% !important;
    height: 300px;
     background-image: url(/images/Home_Carroussel.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;        /* très important */
    background-position: center; 
    color: white;
}

.Home{
    background-image: url(/images/Home_Carroussel.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;        /* très important */
    background-position: center; 
    color: white;
    height: 60vh;
}
.bton-conect{
    background-color: #346628 !important;
}
.bton{
    background-color: #1D3D14 !important;
    color: #fff;
    border: none;
    margin-bottom: 0 !important;
}

.bton:hover{
   background-color: #346628 !important;
}
.bton:active{
    color: #fff !important;
}
.second-card-cachet{
    display: none;
    width: 230px !important;
    height: 400px !important;
    border-radius: 15px !important;
}
 .second-card {
        opacity: 0;
        transition: opacity 0.2s ease;
    }
    /* Transition pour la première carte et l'image */
    .first-card {
        transition: opacity 0.2s ease;
    }

    .hover-img {
        transition: transform 0.2s ease;
    }
    .col-md-4:hover .hover-img {
        transform: rotate(2deg) !important; /* Rotation légère */
    }
    .col-md-4:hover .first-card {
        opacity: 0; /* Faire disparaître la première carte */
    }
    .col-md-4:hover .second-card {
        opacity: 1; /* Faire apparaître la deuxième carte */
    }

@media (max-width:1440px) {
.Home{
    background-image: url(/images/Home_Carroussel.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;        /* très important */
    background-position: center; 
    color: white;
    height: 90vh;
}
}

@media (max-width:1024px) {
    .Home{
    background-image: url(/images/Home_Carroussel.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;        /* très important */
    background-position: center; 
    color: white;
    height: 70vh;
    }
     .img-fluid {
        height: 300px !important;
    }
    .avatar{
    width: 350px !important;
    height: 220px !important;
    border-radius: 100% !important;
    }
}

@media (max-width:768px) {
     .Home{
    background-image: url(/images/Home_Carroussel.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;        /* très important */
    background-position: center; 
    color: white;
    height: 90vh;
    gap: 10px;
    }
    .avatar{
    width: 250px !important;
    height: 220px !important;
    border-radius: 100% !important;
    }
    .header-left, .boutton{
        display: none !important;
    }
    .indict, .first-card{
        display: none !important;
    }
    .second-card-cachet{
        display: flex !important;
    }
    .app{
        display: flex !important;
    }
}
@media (max-width: 425px){

    .second-card-cachet{
    display: none;
    width: 380px !important;
    height: 400px !important;
    border-radius: 15px !important;
    }
    .next{
        display: flex !important;
        gap: 20px;
    }

     .logo-head, .btn-menu, .navbar-brand {
        display: flex !important;
    }
    .boutton, .barre, .header  {
        display: none !important;
    }

    .bton-conect{
        display: none !important;
    }
    nav .bi::before{
        color: #0b1220 !important;
    }
    .confi{
    padding-top: 1000px;
    }
    .pousse i{
    font-size: 50px;
    color: white !important;
}
.input-group{
    justify-content: center !important;
}
.abonner{
    display: none;
}
 .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }
    body{
         padding-top: 60px;
    }
}

@media (max-width: 375px){
    .confi{
    padding-top: 1100px;
    }


}
